@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');
.logo{
  font-family: 'Monoton', cursive;
}

*{
  font-family: 'Gayathri', sans-serif;
}

.error {
   
  background-color: #FBE9E7;
  border: 1px solid #F4511E;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #F4511E;
}